<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <connectionStrings>
    <add name="AdventureWorks2017" connectionString="Data Source=Desktop-GM9GD5R\SQLExpress;Initial Catalog=AdventureWorks2017;Integrated Security=True;"/>  
  </connectionStrings>
</configuration>
