<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommanderCLI" version="1.0.4" targetFramework="net461" />
  <package id="Dapper" version="1.50.5" targetFramework="net461" />
  <package id="FastMember" version="1.4.1" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.8.6" targetFramework="net461" />
</packages>